Repository HaxeFlixel/flixel, pull requests merged in 2024-07, with the labels that each got.

#3211 Pointer
  flixel/ui/FlxAnalog.hx
Labels: Improvement, Code Style / Cleanup

#3205 Make FlxAnimationController.callback an FlxTypedSignal
  checkstyle.json
  flixel/animation/FlxAnimationController.hx
  tests/unit/src/flixel/animation/FlxAnimationControllerTest.hx
Labels: Improvement, New Feature, Animation/Frames

#3213 Add blend mode support for FlxStrip
  flixel/FlxCamera.hx
Labels: Improvement, Rendering

#3216 Add onLoop to FlxAnimationController
  flixel/animation/FlxAnimation.hx
  flixel/animation/FlxAnimationController.hx
  tests/unit/src/flixel/animation/FlxAnimationControllerTest.hx
Labels: New Feature, Animation/Frames

#3217 Fix FlxCamera.fill() blending
  flixel/FlxCamera.hx
Labels: Bug, Camera
