Repository HaxeFlixel/flixel, pull requests merged in 2024-08, with the labels that each got.

#3219 Improved FlxInputText
  flixel/FlxG.hx
  flixel/input/keyboard/FlxKeyboard.hx
  flixel/system/frontEnds/PluginFrontEnd.hx
  flixel/system/frontEnds/SoundFrontEnd.hx
  flixel/text/FlxInputText.hx
  flixel/text/FlxInputTextManager.hx
Labels: New Feature, Text, Input

#3236 FlxTextBorderStyle: Add SHADOW_CUSTOM, always draw full outline
  flixel/text/FlxBitmapText.hx
  flixel/text/FlxText.hx
Labels: New Feature, Text

#3239 add callback(data) to logstyle, replace callbackFunction()
  flixel/system/debug/log/LogStyle.hx
  flixel/system/frontEnds/LogFrontEnd.hx
Labels: FlxDebugger

#3234 Add support for custom border sizes to `FlxBar`
  flixel/ui/FlxBar.hx
Labels: New Feature
