Repository HaxeFlixel/flixel, pull requests merged in 2025-03, with the labels that each got.

#3387 check cliprect changes earlier
  flixel/FlxSprite.hx
Labels: Bug, Rendering

#3396 FlxBitmapText: add autoBounds
  flixel/text/FlxBitmapText.hx
  tests/unit/src/flixel/text/FlxBitmapTextTest.hx
Labels: New Feature, Text

#3400 Fix `FlxAtlas` not persisting between states with persist flag set to true
  flixel/graphics/atlas/FlxAtlas.hx
Labels: Bug, Assets

#3395 Improve FlxBitmapText rendering when using renderTile with clipRect
  flixel/graphics/frames/FlxFrame.hx
  flixel/math/FlxRect.hx
  flixel/text/FlxBitmapText.hx
  flixel/util/FlxColor.hx
  flixel/util/FlxColorTransformUtil.hx
  tests/unit/src/flixel/graphics/frames/FlxFrameTest.hx
  tests/unit/src/flixel/math/FlxRectTest.hx
  tests/unit/src/flixel/system/frontEnds/ConsoleFrontEndTest.hx
  tests/unit/src/flixel/util/FlxColorTransformUtilTest.hx
Labels: Improvement, New Feature, Performance/Memory, Text
