Repository HaxeFlixel/flixel, pull requests merged in 2025-01, with the labels that each got.

#3338 Log pos
  flixel/graphics/frames/bmfont/BMFontXml.hx
  flixel/system/debug/log/LogStyle.hx
  flixel/system/frontEnds/LogFrontEnd.hx
Labels: FlxDebugger

#3340 Add analog directional input to FlxVirtualPad
  flixel/FlxCamera.hx
  flixel/FlxSprite.hx
  flixel/graphics/frames/FlxAtlasFrames.hx
  flixel/graphics/frames/FlxBitmapFont.hx
  flixel/graphics/frames/FlxFrame.hx
  flixel/graphics/frames/FlxImageFrame.hx
  flixel/graphics/frames/FlxTileFrames.hx
  flixel/input/actions/FlxActionInputAnalog.hx
  flixel/math/FlxMath.hx
  flixel/math/FlxPoint.hx
  flixel/path/FlxPath.hx
  flixel/system/debug/log/BitmapLog.hx
  flixel/text/FlxText.hx
  flixel/tile/FlxBaseTilemap.hx
  flixel/tile/FlxTilemap.hx
  flixel/ui/FlxAnalog.hx
  flixel/ui/FlxBar.hx
  flixel/ui/FlxButton.hx
  flixel/ui/FlxVirtualPad.hx
  flixel/ui/FlxVirtualStick.hx
  flixel/util/FlxSpriteUtil.hx
  tests/unit/src/flixel/ui/FlxButtonTest.hx
Labels: New Feature, Input

#3059 Remove unused legacy code & defines
  checkstyle.json
  flixel/FlxCamera.hx
  flixel/FlxG.hx
  flixel/FlxGame.hx
  flixel/effects/postprocess/PostProcess.hx
  flixel/effects/postprocess/Shader.hx
  flixel/graphics/FlxGraphic.hx
  flixel/graphics/tile/FlxDrawQuadsItem.hx
  flixel/graphics/tile/FlxDrawTrianglesItem.hx
  flixel/input/android/FlxAndroidKey.hx
  flixel/system/FlxAssets.hx
  flixel/system/FlxBasePreloader.hx
  flixel/system/debug/console/Console.hx
  flixel/system/frontEnds/BitmapFrontEnd.hx
  flixel/system/macros/FlxDefines.hx
  flixel/text/FlxText.hx
  flixel/util/FlxSpriteUtil.hx
  include.xml
Labels: Structure, Breaking Change, Code Style / Cleanup

#3294 FlxSave: Replace `FlxSaveStatus.ERROR` with SAVE_ERROR
  CHANGELOG.md
  flixel/util/FlxSave.hx
Labels: Breaking Change, Saving

#3308 remove implicit int casts to/from directions
  flixel/FlxObject.hx
  flixel/group/FlxSpriteGroup.hx
  flixel/system/FlxQuadTree.hx
  flixel/system/macros/FlxDefines.hx
  flixel/tile/FlxTilemap.hx
  flixel/util/FlxDirection.hx
  flixel/util/FlxDirectionFlags.hx
  tests/unit/src/flixel/util/FlxDirectionFlagsTest.hx
Labels: Structure, Breaking Change
