Repository HaxeFlixel/flixel, pull requests merged in 2025-04, with the labels that each got.

#3248 logarithmic volume control for global soundtray / volume
  flixel/sound/FlxSound.hx
  flixel/system/frontEnds/SoundFrontEnd.hx
  tests/unit/src/flixel/system/frontEnds/SoundFrontEndTest.hx
Labels: Improvement, Sound

#3421 Add muted property to FlxSoundGroup
  flixel/sound/FlxSound.hx
  flixel/sound/FlxSoundGroup.hx
Labels: New Feature, Sound

#3413 Improve `FlxSprite` color transform handling, deprecate `FlxColor.to24Bit()`
  flixel/FlxSprite.hx
  flixel/system/debug/DebuggerUtil.hx
  flixel/system/frontEnds/CameraFrontEnd.hx
  flixel/text/FlxText.hx
  flixel/util/FlxBitmapDataUtil.hx
  flixel/util/FlxColor.hx
  flixel/util/FlxSpriteUtil.hx
  flixel/util/FlxStringUtil.hx
  tests/unit/src/flixel/FlxSpriteTest.hx
Labels: Rendering
